body{
    background-color:white
    text-align: left;
}

h1{
    color:black;
}

p{
    color: black;
}

li{
    color: rgb(0, 0, 0);
}

h2{color: black;}
h3{color: black;}
h4{color: black;}
















